doctype 5
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title pspEgg presents coconut sites
		link(rel="stylesheet", href="css/pspEgg.css")
	body
			include _egg.html
			include pspEgg.md
			
