#egg{
	margin-top:1em;
}

body{
	font-size:120%;
	font-family:avenir;
	text-align:center;
}
a, a:visited {
	color:maroon;
}
a:hover{
	color:#bada55;
}
h1{
	margin-top:0.3em;
}
h1,h2,h3,h4{
	font-family:baskerville;
	font-style:italic;
	}
